:export {
  black: $black;
  darkGray: $dark-gray;
  gray: $gray;
  lightGray: $light-gray;
  white: $white;

  darkBlue: $dark-blue;
  lightBlue: $light-blue;
  cyan: $cyan;
  magenta: $magenta;
  darkPurple: $dark-purple;
  purple: $purple;
  lavander: $lavander;

  green: $green;
  red: $red;

  basicTransition: $basic-transition;
}
