.wrapper {
  position: relative;
}

.tooltip {
  background-color: $white;
  box-shadow: 0px 8px 20px 0 rgba($black, 0.15);
  border-radius: 16px;

  position: absolute;
  z-index: 100;
  left: -155px;
  bottom: 24px;

  width: 300px;
  padding: 12px 16px;

  font-family: $outfit-regular;
  font-size: 16px;

  opacity: 1;
  transition: opacity 0.1s linear;

  &::after {
    content: '';
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $white;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
  }

  &[data-visible='false'] {
    opacity: 0;
    pointer-events: none;
  }

  > svg {
    cursor: pointer;
  }
}
