.wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;

  color: $black;

  > input {
    width: 80px;
  }

  > span {
    font-family: $fira-code;
    font-size: 24px;
  }

  > label {
    font-family: $outfit-medium;
    font-size: 16px;
    flex-grow: 1;
    text-align: center;
  }
}
