.wrapper {
  margin-top: 32px;

  > .header {
    display: flex;
    align-items: center;
    gap: 8px;

    > h2 {
      font-family: $sf-pro-display-bold;
      font-size: 32px;
    }
  }
}

.stats {
  display: flex;
  gap: 20px;

  margin-top: 16px;
}
