.wrapper {
  max-width: 1440px;
  margin: calc(74px + 32px) auto 0;
  width: 100%;
}

.page {
  padding: 32px;
  margin: 0 20px;
  border-radius: 24px;
  background: rgba($white, 0.75);

  box-shadow: 0 8px 20px 0 rgba($black, 0.15);
  backdrop-filter: blur(16px);
}