.button {
  cursor: pointer;

  &[data-type="primary"] {
    border-radius: 16px;
    background-color: $purple;
    border: none;

    padding: 8px 16px;
    width: 100%;

    font-family: $outfit-medium;
    font-size: 16px;
    color: $white;
    transition: background-color $basic-transition;

    &:hover {
      background-color: $magenta;
    }
  }

  &[data-type="secondary"] {
    background-color: transparent;
    border: none;

    padding: 4px 8px;
    width: fit-content;
    margin-top: -4px;
    margin-left: -8px;

    font-family: $outfit-medium;
    font-size: 16px;
    color: $purple;
    text-decoration: underline;
    transition: color $basic-transition;

    &:hover {
      color: $magenta;
    }
  }
}
