.wrapper {
  display: grid;
  align-items: center;
  justify-content: start;
  column-gap: 6px;

  opacity: 0.75;
  transition: color basic-transition;

  > svg path {
    fill: $black;
    transition: fill basic-transition;
  }

  &[data-state='none'] {
    cursor: pointer;

    row-gap: 4px;
    grid-template-areas:
      'name up'
      'name down';

    > span {
      grid-area: name;
    }

    > svg:first-of-type {
      transform: rotate(180deg);
      grid-area: up;
    }

    > svg:last-of-type {
      grid-area: down;
    }
  }

  &[data-state='asc'],
  &[data-state='desc'] {
    cursor: pointer;
    opacity: 1;
    color: $purple;

    grid-template-areas: 'name icon';

    > span {
      grid-area: name;
    }

    > svg {
      grid-area: icon;

      path {
        fill: $purple;
      }
    }
  }

  &[data-state='asc'] {
    > svg {
      transform: rotate(180deg);
    }
  }
}
